body{
    margin: 0;
}
p{
    margin: 0;
}
.navbarContainer{
    display: grid;
    grid-template-columns: 15% 68% 17%;
    align-items: center;
    background-color: #0d6efd;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
.leftHeading{
    padding-left: 1rem;
}
.heading h1{
    text-align: center;
    font-size: 3rem;
}
.rightHeading{
    display: flex;
    padding-right: 1rem;
    align-items: center;
}
.rightHeading p{
    text-align: right;
}
.rightHeading i{
    font-size: 3rem; 
    margin-left: 1rem; 
}
.breadCrumbs{
    padding-top: 1rem;
    padding-left: 5rem;
}
.bodyContainer, .bodyDetailsContainer{
    margin-top: 3rem;
    padding: 0rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    align-items: start;
}
.bodyDetailsContainer{
    grid-template-columns: 70% 30%;
}
.summaryTableContainer{
    border: 1px solid black;
}
table{
    width: 100%;
}
.tableDate, .tableTime, .tableDuration, .tablePrice, .tableMobile, .tableEmail, .tableGender{
    display: flex;
}
.title, .data{
    padding: 0.5rem 0rem 0.5rem 0.2rem;
    width: 50%;
    border: 1px rgb(52, 218, 240);
}
th{
    width: 50%;
    padding: 0.5rem 0rem 0.5rem 0.2rem;
    border: 1px solid black;
    background-color: rgb(52, 218, 240); 
}
td{
    padding: 0.5rem 0rem 0.5rem 0.2rem;
    border: 1px solid black;
}
.tablePrice{
    background-color:rgb(52, 218, 240); 
}
.guestContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.buttons{
    display: flex;
    align-items: center;
}
.buttons button{
    margin: 0rem 1rem 0rem 1rem;
}
.purchaseContainer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.durationContainer{
    padding-left: 3rem;
}
.durationInput{
    overflow-y: auto;
    width: 80%;
}
.purchaseContainer{
    margin-bottom: 1rem;
}
.confirmationContainer, .confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmationContainer .summaryTableContainer{
    width: 40%;
}
.confirmation p{
    color: blue;
}
.alert-message{
    color: red;
    display: none;
}
@media (max-width: 1250px) {
    .bodyContainer, .bodyDetailsContainer{
        grid-template-columns: auto auto;
        grid-row-gap: 1rem;
        justify-content: space-around;
    }
    .durationContainer{
        padding-left: 0px;
    }
    .purchaseContainer{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .confirmationContainer .summaryTableContainer{
        width: 60%;
    }
}

@media (max-width: 720px) {
    .navbarContainer{
        grid-template-columns: 30% 70%;
    }
    .durationContainer{
        padding-left: 0px;
    }
    .bodyContainer, .bodyDetailsContainer{
        grid-template-columns: auto;
    }
    .purchaseContainer{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .inputHello{
        margin-top: 1rem;
    }
    .confirmationContainer .summaryTableContainer{
        width: 80%;
    }
    .rightHeading{
        display: none;
    }
    .heading h1{
        font-size: 2rem;
        text-align: right;
        padding-right: 2rem;
    }
    .breadCrumbs{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyDetailsContainer, .bodyContainer{
        margin-top: 1rem;
    }
    .bodyDetailsContainer, .confirmationContainer{
        padding-bottom: 1rem;
    }
}
